.footer {
  background-color: var(--primary-color);
  position: relative;
}

.footer-container {
  display: inline-block;
  width: 100%;
  height: 400px;
}

.footer-form {
  margin-left: 50px;
}

.footer-form p {
  margin: 40px 0;
  color: #666;
  font-weight: 700;
}

.footer-form p:first-child {
  color: #fff;
}

.footer-form input {
  padding: 30px;
  width: 30%;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 40px;
}

.button {
  background-color: var(--color-red-dark);
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s ease;
  display: block;
}

.button:hover {
  background-color: var(--color-background);
  color: #000000;
}
